.safe-area{
    width: 100%;
}
.table-area{
    width: 100%;
    margin:10px 10px 10px;
}
.area-botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones{
    cursor: pointer;
    margin: 0 3px;
}