
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}


#root {
  height: 100%;
  width: 100%;
}


.app {
  height: 100%;
  width: 100%;
}
.app .safearea{
  width: 100%;
}